<div class="get-inspired-ctn">
  <h2 class="h2">{{ section.settings['section-heading'] }}</h2>
  <p>{{ section.settings['section-desc'] }}</p>

  <div class="get-inspired-ctn-inner section-width">
    <div class="racepes1">
      <img src="{{ section.settings.product-img1 | image_url }}" alt="" srcset="">
      <h4>{{ section.settings['product1-heading'] }}</h4>
      <p>{{ section.settings['product1-desc'] }}</p>
      <button class="check-out-btn-pink">{{ section.settings['btn1-text'] }}</button>
    </div>
    <div class="racepes1">
      <img src="{{ section.settings.product-img2 | image_url }}" alt="" srcset="">
      <h4>{{ section.settings['product2-heading'] }}</h4>
      <p>{{ section.settings['product2-desc'] }}</p>
      <button class="check-out-btn-pink">{{ section.settings['btn2-text'] }}</button>
    </div>
    <div class="racepes1">
      <img src="{{ section.settings.product-img3 | image_url }}" alt="" srcset="">
      <h4>{{ section.settings['product3-heading'] }}</h4>
      <p>{{ section.settings['product3-desc'] }}</p>
      <button class="check-out-btn-pink">{{ section.settings['btn3-text'] }}</button>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Get Inspired",
  "settings": [
    {
      "type":"text",
      "label":"Section Heading",
      "id":"section-heading"
    },
    {
      "type":"text",
      "label":"Section Desc",
      "id":"section-desc"
    },

    {
      "type":"image_picker",
      "label":"Product Image",
      "id":"product-img1"
    },
    {
      "type":"text",
      "label":"Product Heading",
      "id":"product1-heading"
    },
    {
      "type":"text",
      "label":"Product Description",
      "id":"product1-desc"
    },
    {
      "type":"text",
      "label":"Butto Text",
      "id":"btn1-text"
    },


     {
      "type":"image_picker",
      "label":"Product Image",
      "id":"product-img2"
    },
    {
      "type":"text",
      "label":"Product Heading",
      "id":"product2-heading"
    },
    {
      "type":"text",
      "label":"Product Description",
      "id":"product2-desc"
    },
    {
      "type":"text",
      "label":"Butto Text",
      "id":"btn2-text"
    },


     {
      "type":"image_picker",
      "label":"Product Image",
      "id":"product-img3"
    },
    {
      "type":"text",
      "label":"Product Heading",
      "id":"product3-heading"
    },
    {
      "type":"text",
      "label":"Product Description",
      "id":"product3-desc"
    },
    {
      "type":"text",
      "label":"Butto Text",
      "id":"btn3-text"
    }

  ],

  "presets":[

    {
      "name":"Get Inspired"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
