<div class="marquee-bar">
  <p id="text">Welcome to our store</p>
</div>

<!-- Menu container -->
<div id="menu">
  <div id="menu-content">
    <ul>
      <li>Shop All</li>
      <li><a href="https://mode-cold-brew-dev.myshopify.com/pages/boost"> Ready to drink </a></li>
      <li><a href="https://mode-cold-brew-dev.myshopify.com/pages/boost"> Ready to mix</a></li>
      <li><a href="https://mode-cold-brew-dev.myshopify.com/pages/recipes">Recipes</a></li>
      <li><a href="https://mode-cold-brew-dev.myshopify.com/pages/our-story"> Our Mission</a></li>
      <li><a href="https://mode-cold-brew-dev.myshopify.com/pages/accessories"> Accessories </a></li>
      <li><a href="https://mode-cold-brew-dev.myshopify.com/pages/subscribe-and-save">Subscribe and save </a></li>
      <li>Log in</li>
    </ul>
  </div>
  <div id="close-button"><img src="../assets/Icon.png" alt="" srcset=""><p style="font-size: 30px;">X</p></div>
</div>

<div class="nav-bar-section">
  <div class="navbar-section-inner section-width">
    <div class="nav-bar-menu">
      <div id="icon">
        <img src="{{ section.settings.menu-icon | image_url }}" alt="">
      </div>
    </div>

    <div class="logo-ctn">
      <a href="/"><img src="{{ section.settings.logo | image_url }}" alt="" srcset=""></a>
    </div>

    <div class="cart-section">
      <div class="cart-section-inner">
        <img src="{{ section.settings.user-pro | image_url }}" alt="" srcset="">
        <img src="{{ section.settings.search | image_url }}" alt="" srcset="">
        <img src="{{ section.settings.cart | image_url }}" alt="" srcset="">
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Header",
    "settings": [
{
"type":"image_picker",
      "label":"Menu Icon",
      "id":"menu-icon"
},
      {
"type":"image_picker",
      "label":"Logo",
      "id":"logo"
      },
      {
"type":"image_picker",
      "label":"User Profile",
      "id":"user-pro"
      },
      {
"type":"image_picker",
      "label":"Search Icon",
      "id":"search"
      },
       {
"type":"image_picker",
      "label":"Cart Icon",
      "id":"cart"
       }

    ],
    "presets":[
      {
      "name":"Header"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
