<div class="ingredients-ctn">
  <h2 class="h2">{{ section.settings['section-heading'] }}</h2>
  <p>{{ section.settings['section-desc'] }}</p>

  <div class="ingredients-ctn-inner">
    <div class="ingredients-left-img">
      <img src="{{ section.settings.product-img | image_url }}" alt="" srcset="">
    </div>
    <div class="tabs">
      <div class="ing-tabs">
        <div class="ing-tabs-inner">
          <div class="ing-two-section">
            <div class="img-info-section">
              <div class="tab-image"><img src="{{ section.settings.tab-img1 | image_url }}" alt="" srcset=""></div>
              <div class="name-and-weight">
                <h3 class="h3">{{ section.settings.tab-head1 }}</h3>
                <p>520 mg</p>
              </div>
            </div>
            <button id="toggle-btn"><img id="toggle-icon" src="./plus-01.svg" alt="" srcset=""></button>
          </div>
        </div>
        <p id="ingredients-tab-content">
        {{ section.settings.tab-desc1 }}
        </p>
      </div>

      <!-- tab2 -->
      <div class="ing-tabs">
        <div class="ing-tabs-inner">
          <div class="ing-two-section">
            <div class="img-info-section">
              <div class="tab-image"><img src="<img src="{{ section.settings.tab-img2 | image_url }}" alt="" srcset=""></div>
              <div class="name-and-weight">
                <h3 class="h3">{{ section.settings.tab-head2 }}</h3>
                <p>520 mg</p>
              </div>
            </div>
            <button id="toggle-btn"><img id="toggle-icon" src="./plus-01.svg" alt="" srcset=""></button>
          </div>
        </div>
        <p id="ingredients-tab-content">
          {{ section.settings.tab-desc2 }}
        </p>
      </div>
      <!-- tab3 -->

      <div class="ing-tabs">
        <div class="ing-tabs-inner">
          <div class="ing-two-section">
            <div class="img-info-section">
              <div class="tab-image"><img src="<img src="{{ section.settings.tab-img3 | image_url }}" alt="" srcset=""></div>
              <div class="name-and-weight">
                <h3 class="h3">{{ section.settings.tab-head3 }}</h3>
                <p>520 mg</p>
              </div>
            </div>
            <button id="toggle-btn"><img id="toggle-icon" src="./plus-01.svg" alt="" srcset=""></button>
          </div>
        </div>
        <p id="ingredients-tab-content">
          {{ section.settings.tab-desc3 }}
        </p>
      </div>

      <div class="ing-tabs">
        <div class="ing-tabs-inner">
          <div class="ing-two-section">
            <div class="img-info-section">
              <div class="tab-image"><img src="<img src="{{ section.settings.tab-img4 | image_url }}" alt="" srcset=""></div>
              <div class="name-and-weight">
                <h3 class="h3">{{ section.settings.tab-head4 }}</h3>
                <p>520 mg</p>
              </div>
            </div>
            <button id="toggle-btn"><img id="toggle-icon" src="./plus-01.svg" alt="" srcset=""></button>
          </div>
        </div>
        <p id="ingredients-tab-content">
       {{ section.settings.tab-desc4 }}
        </p>
      </div>
      <div class="ing-tabs">
        <div class="ing-tabs-inner">
          <div class="ing-two-section">
            <div class="img-info-section">
              <div class="tab-image"><img src="<img src="{{ section.settings.tab-img5 | image_url }}" alt="" srcset=""></div>
              <div class="name-and-weight">
                <h3 class="h3">{{ section.settings.tab-head5 }}</h3>
                <p>520 mg</p>
              </div>
            </div>
            <button id="toggle-btn"><img id="toggle-icon" src="./plus-01.svg" alt="" srcset=""></button>
          </div>
        </div>
        <p id="ingredients-tab-content">
          {{ section.settings.tab-desc5 }}
        </p>
      </div>
      <div class="ing-tabs">
        <div class="ing-tabs-inner">
          <div class="ing-two-section">
            <div class="img-info-section">
              <div class="tab-image"><img src="<img src="{{ section.settings.tab-img6 | image_url }}" alt="" srcset=""></div>
              <div class="name-and-weight">
                <h3 class="h3">{{ section.settings.tab-head6 }}</h3>
                <p>520 mg</p>
              </div>
            </div>
            <button id="toggle-btn"><img id="toggle-icon" src="./plus-01.svg" alt="" srcset=""></button>
          </div>
        </div>
        <p id="ingredients-tab-content">
          {{ section.settings.tab-desc6 }}
        </p>
      </div>
      <div class="ing-tabs">
        <div class="ing-tabs-inner">
          <div class="ing-two-section">
            <div class="img-info-section">
              <div class="tab-image"><img src="<img src="{{ section.settings.tab-img7 | image_url }}" alt="" srcset=""></div>
              <div class="name-and-weight">
                <h3 class="h3">{{ section.settings.tab-head7 }}</h3>
                <p>520 mg</p>
              </div>
            </div>
            <button id="toggle-btn"><img id="toggle-icon" src="./plus-01.svg" alt="" srcset=""></button>
          </div>
        </div>
        <p id="ingredients-tab-content">
         {{ section.settings.tab-desc7 }}
        </p>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Ingredients Tabs",
  "settings": [
    {
      "type":"text",
      "label":"Section Heading",
      "id":"section-heading"
    },
    {
      "type":"text",
      "label":"Description",
      "id":"section-desc"
    },
      {
        "type":"image_picker",
        "label":"Product Image",
        "id":"product-img"
      },
    {
      "type":"image_picker",
      "label":"Tab Image",
      "id":"tab-img1"
    },
    {
      "type":"text",
      "label":"Tab Heading",
      "id":"tab-head1"
    },
    {
      "type":"text",
      "label":"Tab Desc",
      "id":"tab-desc1"
    },

     {
      "type":"image_picker",
      "label":"Tab Image",
      "id":"tab-img2"
    },
    {
      "type":"text",
      "label":"Tab Heading",
      "id":"tab-head2"
    },
    {
      "type":"text",
      "label":"Tab Desc",
      "id":"tab-desc2"
    },

     {
      "type":"image_picker",
      "label":"Tab Image",
      "id":"tab-img3"
    },
    {
      "type":"text",
      "label":"Tab Heading",
      "id":"tab-head3"
    },
    {
      "type":"text",
      "label":"Tab Desc",
      "id":"tab-desc3"
    },

     {
      "type":"image_picker",
      "label":"Tab Image",
      "id":"tab-img4"
    },
    {
      "type":"text",
      "label":"Tab Heading",
      "id":"tab-head4"
    },
    {
      "type":"text",
      "label":"Tab Desc",
      "id":"tab-desc4"
    },

     {
      "type":"image_picker",
      "label":"Tab Image",
      "id":"tab-img5"
    },
    {
      "type":"text",
      "label":"Tab Heading",
      "id":"tab-head5"
    },
    {
      "type":"text",
      "label":"Tab Desc",
      "id":"tab-desc5"
    },

     {
      "type":"image_picker",
      "label":"Tab Image",
      "id":"tab-img6"
    },
    {
      "type":"text",
      "label":"Tab Heading",
      "id":"tab-head6"
    },
    {
      "type":"text",
      "label":"Tab Desc",
      "id":"tab-desc6"
    },

     {
      "type":"image_picker",
      "label":"Tab Image",
      "id":"tab-img7"
    },
    {
      "type":"text",
      "label":"Tab Heading",
      "id":"tab-head7"
    },
    {
      "type":"text",
      "label":"Tab Desc",
      "id":"tab-desc7"
    }

    
  ],
  "presets":[

    {
      "name":"Ingredients Tabs"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
