<div class="sub-and-save-hero">
  <h1 class="h1">{{ section.settings['section-heading'] }}</h1>
</div>

<!-- services -->

<div class="services-ctn">
  <div class="services-ctn-inner section-width">
    <div class="service">
      <div class="services-icon">
        <img src="{{section.settings.top-icon1 | img_url}}" alt="" srcset="">
      </div>
      <div class="service-desc">
        <p>Save 20% on every order</p>
      </div>
    </div>

    <div class="service">
      <div class="services-icon">
        <img src="{{section.settings.top-icon2 | img_url}}" alt="" srcset="">
      </div>
      <div class="service-desc">
        <p>Pause or cancel anytime</p>
      </div>
    </div>

    <div class="service">
      <div class="services-icon">
        <img src="{{section.settings.top-icon3 | img_url}}" alt="" srcset="">
      </div>
      <div class="service-desc">
        <p>Free mason jar kit</p>
      </div>
    </div>

    <div class="service">
      <div class="services-icon">
        <img src="{{section.settings.top-icon4 | img_url}}" alt="" srcset="">
      </div>
      <div class="service-desc">
        <p>Free home delivery</p>
      </div>
    </div>
  </div>
</div>

<!-- subscribe and save -->
<div class="subscribe-and-save-ctn">
  <div class="subscribe-and-save-ctn-inner">
    <div class="left">
      <img src="{{section.settings.product-img | img_url}}" alt="" srcset="">
    </div>

    <div class="right">
      <div class="reviews">
        <img src="./start.png" alt="" srcset="">
        <p>4.8</p>
        <span> (3k+ reviews)</span>
      </div>
      <h2 class="h2">Subscribe & save 20%</h2>
      <div class="how-thirsty">
        <h3 class="h3">How thirsty?</h3>
        <div class="three-button-ctn">
          <button>3 liters</button>
          <button>6 liters</button>
          <button>12 liters</button>
        </div>

        <h3 class="h3">How often?</h3>
        <div class="four-btn-ctn">
          <button>14 days</button>
          <button>21 days</button>
          <button>30 days</button>
          <button>60 days</button>
        </div>
        <div class="start-subs-ctn">
          <button class="start-subs">Start subscription</button>
        </div>
        <p>No risk - Pause, adjust or cancel subscription at anytime</p>
      </div>
    </div>
  </div>
</div>

<!-- How it works -->

<div class="how-it-works-ctn">

<h2 class="h2">How it works</h2>

<div class="how-it-works-ctn-inner section-width">
  <div class="row1">
    <div class="row1-left-img">
      <img src="{{section.settings.row1-left-img | img_url}}" alt="" srcset="">
    </div>

    <div class="row1-right">

    <div class="box">

    <h4 class="h4">01</h4>
    <h3 class="h3">Choose how much & how often</h3>
    <p>Choose how much-  how often you want your cold brew delivered to your doorstep. You can anytime adjust the quantity and delivery intervals in your customer portal.</p>
    </div>
    </div>
  </div>


  <div class="row1">
    

    <div class="row1-right">

    <div class="box">

    <h4 class="h4">02</h4>
    <h3 class="h3">Activate account</h3>
    <p>Receive a confirmation email to activate your account and log in to our customer portal to see your subscription.</p>
    </div>
    </div>

    <div class="row1-left-img">
      <img src="{{section.settings.row2-right-img | img_url}}" alt="" srcset="">
    </div>


  </div>



  <div class="row1">
    <div class="row1-left-img">
      <img src="{{section.settings.row3-left-img | img_url}}" alt="" srcset="">
    </div>

    <div class="row1-right">

    <div class="box">

    <h4 class="h4">03</h4>
    <h3 class="h3">Adjust subscription</h3>
    <p>Pause, adjust or cancel whenever you want. You can easily adjust the quantity and delivery interval directly in the customer portal.</p>
    </div>
    </div>
  </div>


  


</div>
</div>


<!-- why subscribe -->

<div class="why-subscribe-ctn">
  <h1 class="h1">Why subscribe?</h1>

  <div class="why-subscribe-ctn-inner">
    <div class="s1">
      <img src="{{section.settings.b-icon1 | img_url}}" alt="" srcset="">
      <h3 class="h3">Mason jar kit</h3>
      <p>Included with your first delivery</p>
    </div>

    <div class="s1">
      <img src="{{section.settings.b-icon2 | img_url}}" alt="" srcset="">
      <h3 class="h3">Save 20%</h3>
      <p>Only 4,95kr/serving</p>
    </div>

    <div class="s1">
      <img src="{{section.settings.b-icon3 | img_url}}" alt="" srcset="">
      <h3 class="h3">Free shipping</h3>
      <p>Delivery straight to your door</p>
    </div>

    <div class="s1">
      <img src="{{section.settings.b-icon4 | img_url}}" alt="" srcset="">
      <h3 class="h3">No risk</h3>
      <p>Pause, adjust or cancel anytime</p>
    </div>
  </div>
</div>



<!-- words from subs -->

<div class="words-from-sub-ctn">
  <h1 class="h1">Words from subscribers</h1>

  <div class="ctn-inner">
    <div class="slide">
      <img src="./sub-ims.png" alt="" srcset="">
      <h4>Tony stark</h4>
      <p>@ironMan</p>
      <p class="desc">
        We brew our premium, organic beans for 16 hours in cold filtered water to extract all the things you love about
        coffee, and none of the things you don’t. Totally stomach friendly and free from bitterness. Just smooth and
        refreshing. Ready to mix when you are.
      </p>
    </div>
  </div>

  <button class="be-the-part">Be part of the fam</button>
</div>

<!-- still got question -->

<div class="still-got-question-ctn">
  <h2 class="h2">Still got questions?</h2>
  <div class="still-got-question-ctn-inner">
    <div class="tab-ctn">
      <button class="collapsible">
        <h3>What is cold brew?</h3>
      </button>
      <div class="content">
        <p>
          We brew our premium, organic beans for 16 hours in cold filtered water to extract all the things you love
          about coffee, and none of the things you don’t. Totally stomach friendly and free from bitterness. Just smooth
          and refreshing. Ready to mix when you are.
        </p>
      </div>

      <button class="collapsible">
        <h3>Concentrate what??</h3>
      </button>
      <div class="content">
        <p>
          We brew our premium, organic beans for 16 hours in cold filtered water to extract all the things you love
          about coffee, and none of the things you don’t. Totally stomach friendly and free from bitterness. Just smooth
          and refreshing. Ready to mix when you are.
        </p>
      </div>

      <button class="collapsible">
        <h3>How long does it last?</h3>
      </button>
      <div class="content">
        <p>
          We brew our premium, organic beans for 16 hours in cold filtered water to extract all the things you love
          about coffee, and none of the things you don’t. Totally stomach friendly and free from bitterness. Just smooth
          and refreshing. Ready to mix when you are.
        </p>
      </div>

      <button class="collapsible">
        <h3>What can I make with it?</h3>
      </button>
      <div class="content">
        <p>
          We brew our premium, organic beans for 16 hours in cold filtered water to extract all the things you love
          about coffee, and none of the things you don’t. Totally stomach friendly and free from bitterness. Just smooth
          and refreshing. Ready to mix when you are.
        </p>
      </div>

      <button class="collapsible">
        <h3>Stomach friendly?</h3>
      </button>
      <div class="content">
        <p>
          We brew our premium, organic beans for 16 hours in cold filtered water to extract all the things you love
          about coffee, and none of the things you don’t. Totally stomach friendly and free from bitterness. Just smooth
          and refreshing. Ready to mix when you are.
        </p>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Subscribe and Save",
  "settings": [

    {
      "type":"text",
      "label":"Section Heading",
      "id":"section-heading"
    },

    {
      "type":"image_picker",
      "label":"Product Image",
      "id":"product-img"
    },
    {
      "type":"image_picker",
      "label":"Save Icon",
      "id":"top-icon1"
    },

    {
      "type":"image_picker",
      "label":"Cancel Anytime",
      "id":"top-icon2"
    },
    {
      "type":"image_picker",
      "label":"Free Kit Icon",
      "id":"top-icon3"
    },
    {
      "type":"image_picker",
      "label":"Home Devlivery",
      "id":"top-icon4"
    },

    {
      "type":"image_picker",
      "label":"Jar kit",
      "id":"b-icon1"
    },

    {
      "type":"image_picker",
      "label":"Save",
      "id":"b-icon2"
    },
    {
      "type":"image_picker",
      "label":"Free Shipping",
      "id":"b-icon3"
    },
    {
      "type":"image_picker",
      "label":"No Risk",
      "id":"b-icon4"
    },
    {
      "type":"image_picker",
      "label":"Left img",
      "id":"row1-left-img"
    },


    {
      "type":"image_picker",
      "label":"Right img",
      "id":"row2-right-img"
    },

    {
      "type":"image_picker",
      "label":"Left img",
      "id":"row3-left-img"
    }







  ],
  "presets":[
    {
      "name":"Subscribe and Save"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
